

* {
    margin: 0;
    box-sizing: border-box;
}




/* Mobile !!!!!!!!!!!*/

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #222;
    line-height: 1.6;
}

/* Typography */

h1 {
    font-size: 2.027rem;
}

h2 {
    font-size: 1.802rem;
   /* margin-bottom: 1rem; */
}

h3 {
    font-size: 1.266rem;
}


/* container */ 

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem; 
}




/* Header */ 

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}





/* product section */ 

#product .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#product img {
    width: 100%;
    border-radius: 2%;
    display: block;
}


#product .wrapper > div:first-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "a a a"
        "b c d";

    gap: 1rem; 
}

#product img:nth-child(1) {
    grid-area: a;
}

#product img:nth-child(2) {
    grid-area: b;
}

#product img:nth-child(3) {
    grid-area: c;
}

#product img:nth-child(4) {
    grid-area: d;
}


#product a {
    display: flex;
    align-self: flex-start;
    background-color: #000;
    color: #fff;
    padding: 1em;
    text-decoration: none;
    border-radius: 5%;
}

#product .wrapper > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* limited text in product section */
#product h1 + p {
    text-transform: uppercase;
    font-weight: bold;
}





/* dough section */ 

#dough {
    background-color: #f8fafc;
    padding: 2rem;
}

#dough .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#dough p {
    margin-bottom: 1rem;
}

#dough h2 {
    text-align: center;
}




/* saying section*/  

#saying {
    background-color: #000;
    color: #fff;
    padding: 2rem;
}

#saying blockquote {
    padding: 2rem;
}

#saying cite {
    display: block;
    margin-top: 1rem;
}


#saying .wrapper {
    display: flex;
    flex-direction: column;
    
}

#saying h2 {
    text-align: center;
}



/* try section */  /* this needs to have grey in the background and the text needs to be centred and space between the background grey and the photo under it..... come back for this make it your dirty little slut its your dirty bad girl. fuck that hoe good */ 

#try {
    text-align: center;
    padding: 2rem;
}

#try > .wrapper > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}


#try img {
    width: 100%;
    border-radius: 2%;
   
}


/* footer */  

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem;
}



/* Media Query 768px!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */ 



@media (min-width: 768px) {

    #product .wrapper > div:first-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "a b "
        "c d ";

    gap: 1rem; 
    }

    #product img:nth-child(1) {
        grid-area: a;
    }

    #product img:nth-child(2) {
        grid-area: b;
    }

    #product img:nth-child(3) {
        grid-area: c;
    }

    #product img:nth-child(4) {
        grid-area: d;
    }




    #dough .wrapper > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }


    #saying .wrapper > div {
        display: flex;
    }


    #try > .wrapper > div {
        display: grid; 
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }


    #try h2 {
        margin-bottom: 3rem;
    }

    
}



@media (min-width: 960px) {


     #product .wrapper {
        display: flex;
        flex-direction: row;
     }
        
    #product img {
        width: 100%;
        
    }
   
}
















